{% load static %}

<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="{% static 'img/logo.png' %}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>
            </nav>
        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="index.html#" class="search-box"><i class="fas fa-search"></i></a>
                        </div>
                        <div class="option-item">
                            <a href="https://andit.co/projects/html/and-tour/demo/contact.html" class="btn  btn_navber">Get free quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>