<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Flight search result - Andtourtravel </title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- Rangeslider css -->
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
    <!-- navber css -->
    <link rel="stylesheet" href="{% static 'css/navber.css' %}" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>

<body>
    <!-- preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    {% include "header.html" %}

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Common Banner Area -->
    <section id="common_banner">
    </section>

    <!-- Form Area -->
    <section id="theme_search_form_tour" class="fligth_top_search_main_form_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="theme_search_form_area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-content" id="myTabContent1">
                                    <div class="tab-pane fade show active" id="oneway_flight" role="tabpanel"
                                        aria-labelledby="oneway-tab">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="oneway_search_form">
                                                    {% include "search_form.html" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Flight Search Areas -->
    <section id="explore_area" class="section_padding">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>{{ result_amount }} routes are trying to find you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% for route in routes %}
                        {% include "route.html" with route=route %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Cta Area -->
    <section id="cta_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta_left">
                        <div class="cta_icon">
                            <img src="{% static 'img/common/email.png' %}" alt="icon">
                        </div>
                        <div class="cta_content">
                            <h4>Get the latest news and offers</h4>
                            <h2>Subscribe to our newsletter</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cat_form">
                        <form id="cta_form_wrappper">
                            <div class="input-group"><input type="text" class="form-control"
                                    placeholder="Enter your mail address"><button class="btn btn_theme btn_md"
                                    type="button">Subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer  -->
    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>Need any help?</h5>
                    </div>
                    <div class="footer_first_area">
                        <div class="footer_inquery_area">
                            <h5>Call 24/7 for any help</h5>
                            <h3> <a href="tel:+00-123-456-789">+00 123 456 789</a></h3>
                        </div>
                        <div class="footer_inquery_area">
                            <h5>Mail to our support team</h5>
                            <h3> <a href="mailto:support@domain.com">support@domain.com</a></h3>
                        </div>
                        <div class="footer_inquery_area">
                            <h5>Follow us on</h5>
                            <ul class="soical_icon_footer">
                                <li><a href="flight-search-result.html#!"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="flight-search-result.html#!"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="flight-search-result.html#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="flight-search-result.html#!"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>Company</h5>
                    </div>
                    <div class="footer_link_area">
                        <ul>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/about.html">About Us</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/testimonials.html">Testimonials</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/faqs.html">Rewards</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/terms-service.html">Work with Us</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/tour-guides.html">Meet the Team </a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/news.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>Support</h5>
                    </div>
                    <div class="footer_link_area">
                        <ul>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/dashboard.html">Account</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/faq.html">Faq</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/testimonials.html">Legal</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/contact.html">Contact</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/top-destinations.html"> Affiliate Program</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>Other Services</h5>
                    </div>
                    <div class="footer_link_area">
                        <ul>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/top-destinations-details.html">Community program</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/top-destinations-details.html">Investor Relations</a></li>
                            <li><a href="flight-search-result.html">Rewards Program</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/room-booking.html">PointsPLUS</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/testimonials.html">Partners</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/hotel-search.html">List My Hotel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>Top cities</h5>
                    </div>
                    <div class="footer_link_area">
                        <ul>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/room-details.html">Chicago</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/hotel-details.html">New York</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/hotel-booking.html">San Francisco</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/tour-search.html">California</a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/tour-booking.html">Ohio </a></li>
                            <li><a href="https://andit.co/projects/html/and-tour/demo/tour-guides.html">Alaska</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_left">
                        <p>Copyright © 2022 All Rights Reserved</p>
                    </div>
                </div>
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_right">
                        <img src="{% static 'img/common/cards.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <!-- Meanu js -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- Range js -->
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/wNumb.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- wow.js -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/add-form.js' %}"></script>
    <script src="{% static 'js/form-dropdown.js' %}"></script>

</body>

</html>